.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-section h4 {
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.footer-section p,
.footer-section ul li {
  color: var(--text-inverse);
  font-size: 0.9rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 0.5rem 0;
}

.footer-section ul li a {
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.socials ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.25rem;
}

.socials .social-logo {
  width: 2rem;
}

.footer-bottom {
  margin-top: 2rem;
  font-size: 0.8rem;
  border-top: 1px solid var(--border-color);
  padding-top: 1rem;
}

.footer-bottom p {
  color: var(--text-inverse);
}

@media (min-width: 768px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .footer-section {
    flex: 1;
    padding: 0 1rem;
  }

  .footer-section .footer-bottom {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .footer-container {
    display: flex;
    flex-direction: row;
  }
}
