nav {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .hamberger-menu {
    position: relative;
  }

  .hamberger-menu,
  .hamberger-menu::before,
  .hamberger-menu::after {
    background-color: var(--text-inverse);
    display: block;
    width: 1.25em;
    height: 0.25rem;
    border-radius: 10px;
  }

  .hamberger-menu::before,
  .hamberger-menu::after {
    content: "";

    position: absolute;
  }

  .hamberger-menu::before {
    top: 150%;
  }

  .hamberger-menu::after {
    bottom: 150%;
  }

  .nav-links {
    display: block;
    position: absolute;
    height: 100vh;
    width: 50vw;
    background-color: var(--primary-color);
    top: 0;
    left: 100%;
    transition: all 0.25s ease-in-out;

    .link-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-top: 50px;
      height: 30vh;
      padding: 0.25rem;

      .nav-link {
        transition: all 0.15s ease;
      }

      .nav-link:hover {
        color: var(--secondary-color);
      }
    }

    .close,
    .close::before {
      display: block;
      width: 1.25rem;
      height: 0.25rem;
      position: absolute;
      background-color: var(--text-inverse);
      border-radius: 10px;
    }

    .close {
      left: 80%;
      top: 2.5%;
      transform: rotate(45deg);
    }

    .close::before {
      content: "";
      transform: rotate(90deg);
    }
  }
}

@media only screen and (min-width: 768px) {
  nav {
    .hamberger-menu {
      display: none;
    }

    .nav-links {
      position: static;
      height: auto;
      width: auto;
    }

    .nav-links .link-container {
      flex-direction: row;
      margin: 0;
      height: auto;
    }

    .nav-links .close {
      display: none;
    }
  }
}
