main {
  --background-color: rgba(3, 3, 3, 0.75);
  --hero-height: 60vh;
  --hero-heading-font-size: 2rem;
  --hero-heading-margin-bottom: 1rem;
  --hero-paragraph-font-size: 1.2rem;
  --hero-paragraph-margin-bottom: 1.5rem;
  --h2-font-size: 1.8rem;
  --h3-font-size: 1.6rem;
}

@media (min-width: 768px) {
  main {
    --hero-height: 60vh;
  }
}

@media (min-width: 1024px) {
  main {
    --hero-height: 70vh;
    --hero-heading-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.8rem;
    --hero-paragraph-font-size: 1.5rem;
  }
}

@media (min-width: 1600px) {
  main {
    --hero-height: 80vh;
    --hero-heading-font-size: 3rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.2rem;
    --hero-paragraph-font-size: 2rem;
  }
}
