/* Hero Section */
.hero {
  height: var(--hero-height);
  text-align: center;
  color: var(--text-inverse);
  padding: 3rem 1rem;
  border-radius: 8px;
  position: relative;

  .overlay,
  .bg,
  .hero-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .overlay {
    opacity: 0.75;
    background: url("../../../images/basketball-court.jpg") center/cover
      no-repeat;
  }

  .bg {
    background-color: var(--background-color);
  }

  .hero-container {
    display: flex;
    align-items: center;
    z-index: 1;
    padding: var(--content-padding);

    .hero-content {
      h1 {
        font-size: var(--hero-heading-font-size);
        margin-bottom: var(--hero-heading-margin-bottom);
      }

      p {
        font-size: var(--hero-paragraph-font-size);
        margin-bottom: var(--hero-paragraph-margin-bottom);
        max-width: 500px;
      }
    }
    .hero-img-container {
      display: none;
      z-index: 1;
    }
  }
}

/* Featured Sports Section */
.featured-sports {
  padding: var(--content-padding);

  h2 {
    text-align: center;
    margin: var(--content-padding);
    font-size: var(--h2-font-size);
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--content-padding);
  }
}

hr {
  width: 60%;
  max-width: var(--max-width);
  margin: auto;
}

/* Upcomming Sports Section */
.upcomming-events {
  padding: var(--content-padding);
  background-color: var(--base-grey);
  text-align: center;

  h2 {
    font-size: var(--h2-font-size);
    margin-bottom: var(--hero-heading-margin-bottom);
  }

  .events-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;

    .event-card {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 1.5rem;
      box-shadow: 0 2px 4px var(--shadow-light);
      text-align: left;

      h3 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
      }

      .event-date {
        color: #555;
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }

      .event-description,
      .event-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        img {
          width: 1.5rem;
        }
      }

      .event-description {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: #666;
      }

      a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Responsive Design */
@media (min-width: 768px) {
  .hero {
    text-align: left;

    .hero-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .hero-content,
      .hero-img-container {
        height: 100%;
      }

      .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }

  .featured-sports {
    .card-container {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      place-items: center;
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    .hero-container {
      .hero-content {
        p {
          max-width: 80%;
        }
      }

      .hero-img-container {
        display: block;
        flex-basis: var(--hero-image-container-width);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .hero-link-image {
          display: block;
          position: absolute;
          transition: all 0.25s ease-in-out;

          img {
            height: var(--hero-link-image-height);
            border: 5px solid var(--base-light);
            border-radius: 5px;
          }
        }

        .hero-link-image:hover {
          transform: scale(1.1);
          top: 15%;
          z-index: 10;
        }

        .link-img-1 {
          transform: rotate(-30deg);
          left: 0%;
        }
        .link-img-2 {
          top: 24%;
        }
        .link-img-3 {
          transform: rotate(20deg);
          right: 5%;
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .hero .hero-container,
  .featured-sports,
  .upcomming-events {
    max-width: var(--max-width);
    padding: 0;
    margin: auto;
  }

  .hero {
    .hero-container {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .featured-sports {
    .card-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
  }

  .upcomming-events {
    .events-container {
      padding: 1rem 0;
    }
  }
}
